[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ramonak = "*"
lxml = "*"
pytz = "*"
setuptools = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dist = "python flextract.py"
